{% extends "base.html" %} {% block titulo %} Mis ofertas {% endblock %}

{% block contenido_principal %}
<h2>Mis compras</h2>

<div class="table-responsive" id="table">
	<table class="table table-hover">
		<thead>
		<tr>
			<th class="text-center">Título</th>
			<th class="text-center">Descripción</th>
			<th class="text-center">Precio</th>
			<th class="text-center">Vendedor</th>
		</tr>
		</thead>
		<tbody>
		{% for compra in compras %}
		<tr>
			<td style="text-align:center">{{ compra.titulo }}</td>
			<td style="text-align:center">{{ compra.descripcion }}</td>
			<td style="text-align:center">{{ compra.precio }}</td>
			<td style="text-align:center">{{ compra.vendedor }}</td>
			<td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}
