{% extends "listaOfertas.html" %}
{% block titulo %} Wallapop {% endblock %}


{% block h2 %}
<h2 id="destacadas">Ofertas</h2>
{% endblock %}

{% block busqueda %}
<!--Búsqueda-->
<div class="row">
    <div id="custom-search-input ">
        <form method="get" action="/ofertas">
            <div class="input-group col-xs-8 col-sm-6 col-md-4 col-lg-5 pull-right">
                <input type="text" class="search-query form-control" placeholder="Palabra a buscar"
                       name="busqueda" id="busqueda"/>
                <span class="input-group-btn">
                    <button class="btn" type="submit" id="btn-buscar">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block paginacion %}
<!--Paginación mostrar la actual y 2 anteriores y 2 siguientes-->
<div class="row text-center">
    <ul class="pagination">
        {% for pagina in paginas %}
        <li class="page-item" id="pi-{{pagina}}">
            <a class="page-link" href="/ofertas?pg={{pagina}}">{{pagina}}</a>
        </li>
        {% endfor %}
        <script>
            $("#pi-" + "{{ actual }}").addClass("active");
        </script>
    </ul>
</div>
{% endblock %}
